header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61dafb;

}

.HeaderImage{
    width: 90%
}

h1{
   color: deeppink;
    font-family: "Comic Sans MS";
}