header{
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    display: flex;
}

.HeaderImage {
    width: 100px;
    height: 100px;
}

h1{
   color: deeppink;
    font-family: "Comic Sans MS";
}